body{
  background-color: #52154E;
  text-align: center;
  color: #B1DDF1;
}

button{
  color: #B1DDF1;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
