body{
  background-color: #52154E;
  text-align: center;
  color: #B1DDF1;
}

button{
  background-color: #B1DDF1;
}

.low-usage {
  color: #87CBAC;
}

.medium-usage {
  color: #B1DDF1;
}

.high-usage {
  color: red;
}
